.SearchForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .25rem;
    padding: 0.5rem;
    min-width: 500px;
    height: 140px;
    background-color: #0000009d;
    border-radius: 5px;
    padding-bottom: 2.5rem;
    padding-right: 1rem;
}

.input__container{
    width: calc(100% - 150px); 
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #484444a9;
    background-color: #000000a6;
    margin: 0.5rem;
    height: calc(100% - 2.5rem);
}
.input__container input{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
}

.input__container input:focus{
    border-color:aliceblue
}

.searchBtn{
    width: 150px;
    color: #fff;
    background-color: #40ca24;
    transition: all .3s;
    height: calc(100% - 2.5rem);
    &:hover{
        background-color: #44e125;
    }
}
